.notification {
	width: 100%;
	height: 50px;
	text-align: center;
	position: absolute;
	left: 0;
	line-height: 50px;
	background: #e7e7e7;
	display: none;
}

.notification.visible {
	display: block;
}

.notification-success {
	background: green;
	border-color: darkgreen;
	color: white;
}

.notification.top {
	top: 0;
	border-bottom: 1px solid #ccc;
}

.notification.bottom {
	bottom: 0;
	border-top: 1px solid #ccc;
}

.notification a {
	cursor: pointer;
	position: absolute;
	right: 20px;
}